<div class="container-main">
    <div class="titulo">
        <h1>Tienda tecno</h1>
    </div>

    <div class="busqueda">
        <form action="" method="get" id="form1">
            <input type="text" class="form-control" id="busqueda-producto" placeholder="Ingrese producto">
            <button type="submit" class="btn btn-primary" id="buscar">buscar</button>
        </form>
    </div>

    <div class="select-container">
        <select class="form-select" aria-label="Default select example">
            <option value="1" selected>Todos</option>
            <option value="2">Telefono</option>
            <option value="3">Laptops</option>
        </select>
        <select class="form-select" aria-label="Default select example">
            <option value="1" selected>Popularidad</option>
            <option value="2">Precio mayor</option>
            <option value="3">Precio menor</option>
        </select>
    </div>

    <div class="grid-productos">
        <div *ngFor="let p of productos" class="card">
            <img src={{p.picture}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{p.name}}</h5>
                <p class="card-text">{{p.description}}</p>
                <a href="/detalle-producto" class="btn btn-primary">Visualizar</a>
            </div>
        </div>
    
    </div>

</div>