h5, h4{
    font-size: 20px;
}
h4{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(24, 222, 97);
}

.select-container, .busqueda, #div1{
    display: flex;
}

.container-main{
    width: 90vw;
    gap: 1.2rem;
}

.select-container, .busqueda, #div1{
    align-items: center;
    justify-content: center;
}

.busqueda, #div1{
    width: 90vw;
}

.grid-productos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2%;
    column-gap: 2%;
}
.card{
    justify-self: center;
    width: 100%;
}
