<div class="container-main">
    <div class="titulo">
        <h1>Tienda tecno</h1>
    </div>

    <div class="busqueda">
        <div id="div1">
            <input #busquedaProd type="text" class="form-control" placeholder="Ingrese producto">
            <button class="btn btn-primary" id="buscar" (click)="busqueda(busquedaProd.value)">buscar</button>
        </div>
    </div>

    <div class="select-container">
        <select #selectCategory class="form-select" aria-label="Default select example" (change)="filtrarCategorias(selectCategory.value)">
            <option  value="Todos" >Todos</option>
            <option *ngFor="let cat of categorias" value="{{cat}}">{{cat}}</option>
        </select>
        <select #selectFilt class="form-select" aria-label="Default select example" (change)="filtros(selectFilt.value)">
            <option value="Popularidad">Popularidad</option>
            <option value="Precio mayor">Precio mayor</option>
            <option value="Precio menor">Precio menor</option>
        </select>
    </div>

    <div class="grid-productos">
        <div *ngFor="let p of productos" class="card">
            <img src={{p.picture}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" >{{p.name}}</h5>
                <h4 class="card-text">${{p.unit_price}}</h4>
                <a [routerLink]="['/detalle-producto',p.name]" class="btn btn-primary" id={{p.name}}>Visualizar</a>
            </div>
        </div>
    
    </div>

</div>