body{
    margin: 0px;
}

p{
    font-size: 1.25rem;
    font-weight: 300;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    
}
h1{
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    width: 1fr;
    background-color: #e9e9e9;
}
h2{
    font-family: "Roboto", sans-serif;
    font-size: 1.37rem;
    font-weight: 500;
    margin-top: 25;
    margin-bottom: 15px;
}
a{
    text-decoration: none;
}
ul{
    margin: 0px;
}
button{
    vertical-align: top;
}
